.itemsler {
  background-color: #111827;
  -webkit-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nickname {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: 1px;
  margin-left: 20px;
}

.box .title {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  width: 80%;
  font-weight: 400;
  margin-left: 20px;
}

a {
  text-decoration: none !important;
}

.box {
  -webkit-transform: translate(70px, 0px);
          transform: translate(70px, 0px);
  width: 19%;
  border: 1px solid gray;
  margin-right: 30px;
  margin-bottom: 20px;
  height: 380px;
  border-radius: 20px;
}

.box img {
  width: 322.5px;
  height: 220px;
  border-radius: 20px 20px 0px 0px;
}

.box span {
  color: rgba(224, 224, 224, 0.61);
  font-size: 13px;
  margin-left: 10px;
}

.box .like {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reactions .comment {
  width: 80px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 28px;
  color: #dbdbdb;
  margin-left: 10px;
  margin-top: 1px;
  background-color: #202838;
}

.reactions .like1 {
  width: 80px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 28px;
  color: red;
  margin-left: 20px;
  background-color: #FFE4E6;
}

.fa-heart {
  margin-left: 15px;
  margin-top: 5px;
}

.like1 h6 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
}

.comment .fa-comment-alt {
  margin-left: 18px;
  margin-top: 5px;
}

.comment h6 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  -webkit-transform: translate(6px, 2px);
          transform: translate(6px, 2px);
}

.save {
  width: 50px;
  border-radius: 20px;
  margin-right: 10px;
  color: #ffffffc7;
  height: 28px;
  margin-top: 1px;
  background-color: #202838;
}

.fa-bookmark {
  margin-top: 5px;
  margin-left: 18px;
}

.gar-jew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translate(330px, 100px);
          transform: translate(330px, 100px);
}

.garden {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #ddbfcb;
  margin-left: 20px;
  border-radius: 20px;
  width: 7%;
  font-size: 13px;
  height: 25px;
  font-family: 'Inter';
  color: #9D174D;
  padding-left: 10px;
  padding-top: 2px;
}

.jewelry {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 13px;
  width: 7%;
  border-radius: 20px;
  height: 25px;
  padding-left: 10px;
  padding-top: 2px;
  color: #991B1B;
  font-family: 'Inter';
  background-color: #e4cfcf;
  margin-left: 20px;
}

.garden:hover {
  background-color: #9D174D;
  color: #ddbfcb;
  cursor: pointer;
}

.jewelry:hover {
  background-color: #991B1B;
  color: #e4cfcf;
  cursor: pointer;
}

.quiet {
  color: white;
  font-size: 55px;
  width: 70%;
  font-family: 'Inter';
  -webkit-transform: translate(350px, 120px);
          transform: translate(350px, 120px);
}

.line {
  width: 80%;
  height: 0.5px;
  -webkit-transform: translate(350px, 130px);
          transform: translate(350px, 130px);
  border: 0.5px solid rgba(255, 255, 255, 0.068);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.author {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(350px, 140px);
          transform: translate(350px, 140px);
}

.names {
  -webkit-transform: translate(70px, -50px);
          transform: translate(70px, -50px);
  color: white;
}

.author .tarix {
  -webkit-transform: translate(67px, -55px);
          transform: translate(67px, -55px);
  color: rgba(255, 255, 255, 0.657);
}

.author .man .boy {
  width: 55px;
  height: 55px;
  border-radius: 30px;
}

.icons {
  -webkit-transform: translate(0px, 15px);
          transform: translate(0px, 15px);
}

.icons .heart {
  width: 75px;
  background-color: #FFE4E6;
  border-radius: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  color: red;
}

.icons .comment {
  border-radius: 20px;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  height: 30px;
  color: #c7c7c8;
  width: 65px;
  padding-left: 15px;
  background-color: #374151;
}

.btn-secondary {
  border-radius: 50px !important;
  width: 40px !important;
  height: 40px !important;
  margin-left: 3px;
}

.btn-secondary i {
  -webkit-transform: translate(-18px, 0px);
          transform: translate(-18px, 0px);
}

.btn-secondary {
  border: none !important;
  background-color: #202838 !important;
}

.secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(250px, 0px);
          transform: translate(250px, 0px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-side1 q {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.derevo {
  width: 100%;
}

.func {
  border-radius: 10px;
}

.firstbox {
  background-color: #F3F4F6;
  width: 90%;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 20px;
  height: 420px;
}

.boxnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #a8a7a7;
  -webkit-transform: translate(0px, 25px);
          transform: translate(0px, 25px);
  padding-bottom: 10px;
}

.discover {
  padding-left: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: "Inter";
}

.iconfoto {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tagbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxses {
  width: 25%;
  height: 35px;
  margin-left: 20px;
  background-color: white;
  margin-bottom: 15px;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: "Inter";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boxses:hover {
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.view {
  padding-right: 15px;
}

.lorem2 {
  color: #6d6d6d;
  font-size: 16px;
  margin-top: 10px;
}

.sitat {
  border-left: 5px solid #b9b9b9;
  padding-left: 10px;
}

.typography {
  font-family: 'Inter';
  font-weight: 400;
}

.lorem1 {
  margin-top: 25px;
  font-family: 'Inter';
  font-size: 23px;
  font-weight: 300;
}

.item-side1 {
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}

.navbarici {
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tranperent-center {
  width: 20%;
  background: #111827;
  background: -webkit-gradient(linear, left top, right top, from(#111827), color-stop(49%, rgba(8, 13, 17, 0.944)), to(#070c0b));
  background: linear-gradient(90deg, #111827 0%, rgba(8, 13, 17, 0.944) 49%, #070c0b 100%);
}

.text-side {
  width: 1200px;
  background-color: #111827;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbarici .line {
    -webkit-transform: translate(50px, 140px);
            transform: translate(50px, 140px);
  }
  .navbarici .author {
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  .navbarici .man {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px);
  }
  .navbarici .gar-jew {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
  .navbarici .garden, .navbarici .jewelry {
    width: 14%;
  }
  .navbarici .text-side {
    width: 60%;
  }
  .navbarici .tarix {
    width: 200px;
  }
  .navbarici .icons {
    -webkit-transform: translate(-140px, 80px);
            transform: translate(-140px, 80px);
  }
  .navbarici .quiet {
    font-size: 20px;
    -webkit-transform: translate(60px, 130px);
            transform: translate(60px, 130px);
  }
  .item-side1 {
    width: 40%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .item-side1 .tagbox .boxses {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .navbarici .line {
    -webkit-transform: translate(50px, 140px);
            transform: translate(50px, 140px);
  }
  .navbarici .author {
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  .navbarici .man {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px);
  }
  .navbarici .gar-jew {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
  .navbarici .garden, .navbarici .jewelry {
    width: 14%;
  }
  .navbarici .text-side {
    width: 60%;
  }
  .navbarici .tarix {
    width: 200px;
  }
  .navbarici .icons {
    -webkit-transform: translate(-140px, 80px);
            transform: translate(-140px, 80px);
  }
  .navbarici .quiet {
    font-size: 20px;
    -webkit-transform: translate(60px, 130px);
            transform: translate(60px, 130px);
  }
  .item-side1 {
    width: 40%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .item-side1 .tagbox .boxses {
    width: auto;
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .navbarici .line {
    -webkit-transform: translate(50px, 140px);
            transform: translate(50px, 140px);
  }
  .navbarici .author {
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  .navbarici .man {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px);
  }
  .navbarici .gar-jew {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
  .navbarici .garden, .navbarici .jewelry {
    width: 14%;
  }
  .navbarici .text-side {
    width: 60%;
  }
  .navbarici .tarix {
    width: 200px;
  }
  .navbarici .icons {
    -webkit-transform: translate(-140px, 80px);
            transform: translate(-140px, 80px);
  }
  .navbarici .quiet {
    font-size: 20px;
    -webkit-transform: translate(60px, 130px);
            transform: translate(60px, 130px);
  }
  .item-side1 {
    width: 50%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .item-side1 .tagbox .boxses {
    width: auto;
    margin-bottom: 10px;
    height: auto;
  }
  .secondline .text-side1 {
    width: 60%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbarici .line {
    -webkit-transform: translate(50px, 140px);
            transform: translate(50px, 140px);
  }
  .navbarici .author {
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  .navbarici .man {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px);
  }
  .navbarici .gar-jew {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
  .navbarici .garden, .navbarici .jewelry {
    width: 14%;
  }
  .navbarici .text-side {
    width: 100%;
  }
  .navbarici .tarix {
    width: 200px;
  }
  .navbarici .icons {
    -webkit-transform: translate(-140px, 80px);
            transform: translate(-140px, 80px);
  }
  .navbarici .quiet {
    font-size: 20px;
    -webkit-transform: translate(60px, 130px);
            transform: translate(60px, 130px);
  }
  .item-side1 {
    width: 40%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .item-side1 .tagbox .boxses {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1280px) and (max-width: 1900px) {
  .navbarici .line {
    -webkit-transform: translate(50px, 140px);
            transform: translate(50px, 140px);
  }
  .navbarici .author {
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  .navbarici .man {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px);
  }
  .navbarici .gar-jew {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
  .navbarici .garden, .navbarici .jewelry {
    width: 7%;
  }
  .navbarici .text-side {
    width: 100%;
  }
  .navbarici .quiet {
    font-size: 40px;
    -webkit-transform: translate(60px, 130px);
            transform: translate(60px, 130px);
  }
  .item-side1 {
    width: 40%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .item-side1 .tagbox .boxses {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1280px) and (max-width: 1900px) {
  .itemsler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box {
    width: 17%;
  }
  .box .title {
    font-size: 15px;
    width: 75%;
  }
  .box .like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box .save {
    -webkit-transform: translate(80px, 20px);
            transform: translate(80px, 20px);
  }
  .box .photolar {
    width: 235px;
    height: 170px;
  }
  .box .nickname {
    font-size: 14px;
  }
  .box .nickname .date {
    font-size: 12px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .itemsler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box {
    width: 29.3%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    height: auto;
    width: 35.3%;
  }
  .box .photolar {
    width: 100%;
  }
  .box .like {
    margin-bottom: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .box {
    width: 70%;
  }
  .box .photolar {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */